# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtualenv
.venv/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log

# Alembic
migrations/versions/*.pyc

# Database
*.db
*.sqlite
*.sqlite3
crypto_mas.db